table{
    width: 50%;
    border: 1px solid gray;
}

.left_col{
    border-right: 1px solid gray;
}

td input{
    width: 95%;
}

button{
    font-size: 20px;
}

td{
    border-top: 1px solid gray;
}

#task_h{
    width: 30%;
    border-right: 1px solid gray;
}

#infl_h{
    width: 20%;
    border-right: 1px solid gray;
}

#comm_h{
    width: 50%;
}

.influsion_circle{
    border-radius: 10px;
    position: fixed;
    top: 10px;
    right: 10px;
    height: 20px;
    width: 20px;
}

.full_influsion{
    background-color: green;
}

.half_influsion{
    background-color: royalblue;
}

.non_influsion{
    background-color: gray;
}

#full_influsion_circle{
    background-color: green;
}

#half_influsion_circle{
    background-color: blue;
}

#non_influsion_circle{
    background-color: lightblue;
}
